*.bak
*.class
*.code-workspace
*.ear
*.egg-info/
*.eml
*.iml
*.jar
*.log
*.log*
*.pyc
*.temp
*.tfstate
*.tfstate.*
*.tmp
*.war
*.zip
.*.bak
.DS_Store
.angular/
.cache/
.classpath
.coverage
.env
.factorypath
.git/
.gradle/
.history/
.idea/
.idea/*
.metadata/*
.mvn/wrapper/maven-wrapper.jar
.mypy_cache/
.next/
.npm/
.parcel-cache/
.pnpm-store/
.project
.pytest_cache/
.recommenders/*
.rewrite-cache/
.settings/
.tern-project
.terraform.lock.hcl
.terraform/
.turbo/
.venv/
.vscode-test/
.vscode/*
.yarn/
/gha-creds-*.json
RemoteSystemsTempFiles/*
Servers/*
Thumbs.db
__pycache__/
app-bundle.js
bin/
build/
coverage/
data/
dependency-reduced-pom.xml
dist/
downloaded_trusts.pem
fortify_results/
gha-creds-*.json
infrastructure/**/*config.y*ml
infrastructure/**/*output.y*ml
logs/
node/
node_modules/
npm-debug.log*
out/
package-lock.json
pom.xml.versionsBackup
private_key.pem
py312
src/test/taurus/artifacts/
target/
terracognita/
terraform_backend.tf
token_response.json
venv/
workingDir/
workspace/
yarn-error.log
!.idea/codeStyles
!.idea/google-java-format.xml
!.idea/runConfigurations
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
